@define-color bg #0B151C;
@define-color fg #eddcd9;
@define-color gray1 #66C6A9;
@define-color gray2 #6c8ba1;
@define-color gray3 #97a0bf;
@define-color gray4 #c4838d;
@define-color gray5 #bea5c0;
@define-color fg_bright #eddcd9;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}